{% extends 'base.html.twig' %}

{% form_theme formTrip 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {% if editMode %}
        <h1>Modification d'un trip</h1>
    {% else %}
        <h1>Création d'un trip</h1>
    {% endif %}
    
    {{ form_start(formTrip) }}

    {{ form_row(formTrip.title, {'attr': {'placeholder':"Titre du trip"}}) }}
    {{ form_row(formTrip.description, {'attr': {'placeholder':"Description du trip"}}) }}
    {{ form_row(formTrip.image, {'attr': {'placeholder':"Image du trip"}}) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer
        {% else %}
        Ajouter un trip
        {% endif %}
    </button>

    {{ form_end(formTrip) }}
    
    
{% endblock body %}


